<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="utf-8">
	<title>访问记录</title>
	<meta name="renderer" content="webkit">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport"
		  content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<script th:src="@{/layuiadmin/layui/jquery-1.10.0.min.js}"></script>
	<base th:href="${#request.getContextPath()}+'/'">
	<link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
	<link rel="stylesheet" href="layuiadmin/style/admin.css" media="all">
	<link rel="stylesheet" href="layuiadmin/style/template.css" media="all">
	<link rel="stylesheet" type="text/css" href="layuiadmin/layui/css/fzBase_v2109.css" media="all"/>
	<link rel="stylesheet" type="text/css" href="layuiadmin/layui/css/fz_cj_houtaixitong.css" media="all"/>
</head>
<body>
<div class="layui-layout layui-layout-admin">

	<div style="padding: 0px 20px 30px 30px;">
		<div class="gjlb_tit_top"><span>访问记录</span></div>

		<div class="demoTable gjlb_con_wai">
			<div class="gjlb_con_left">
				<!--<form class="layui-form">-->
				标题
				<div class="layui-inline">
					<input class="layui-input gjlb_input_one" name="searchword" id="searchword" autocomplete="off">
				</div>
				<!--时间
                <div class="layui-inline">
                    <input type="text" name="date" id="date" lay-verify="date" placeholder="" autocomplete="off"
                           class="layui-input gjlb_input_one gjb_bbtim">
                </div>-->
				<a class="layui-btn gjlb_button_one" data-type="reload" id="do_search">检索</a>
				<!-- </form>-->
			</div>

		</div>

		<table class="layui-hide" id="test" lay-filter="test"></table>


		<!--<script type="text/html" id="barDemo_cha">
            <a href="" lay-event="detail">
                <img src="../../layuiadmin/layui/images/htxt_daochu5.png">
            </a>

        </script>-->

	</div>
</div>

<script th:src="@{/layuiadmin/layui/layui.js}"></script>
<script>
    const baseUrl = "[[${#servletContext.contextPath}]]";
</script>
<script type="text/javascript"  th:inline="none">
    layui.use('table', function () {
        var table = layui.table;
        table.render({
            elem: '#test'
            , url: baseUrl + '/contribueClickLogList'
            , method: 'post'
            , cellMinWidth: 70 //全局定义常规单元格的最小宽度，layui 2.2.1 新增
            , initSort: {
                field: 'watchnum' //排序字段，对应 cols 设定的各字段名
                ,type: 'desc' //排序方式  asc: 升序、desc: 降序、null: 默认排序
            }
            ,text: {
                none: '暂无相关数据' //默认：无数据。注：该属性为 layui 2.2.5 开始新增
            }
            , cols: [[
                  {field: 'id', title: '序号',type:"numbers", width: 80, align: 'center'}
                , {field: 'cid', title: '文档ID', align: 'center'}
                , {field: 'ctitle', title: '文档标题', align: 'center'}
                , {field: 'cchannel', title: '所属栏目', align: 'center'}
                , {field: 'watchnum', title: '访问量', align: 'center',sort: true}
            ]]
            , even: true
            , page: true
            , done:function(res){
                tdTitle();
            }
        });
        table.on('sort(test)', function(obj){ //注：tool是工具条事件名，test是table原始容器的属性 lay-filter="对应的值"

            //尽管我们的 table 自带排序功能，但并没有请求服务端。
            //有些时候，你可能需要根据当前排序的字段，重新向服务端发送请求，如：
            table.reload('test', {
                initSort: obj //记录初始排序，如果不设的话，将无法标记表头的排序状态。 layui 2.1.1 新增参数
                ,where: { //请求参数
                    field: obj.field //排序字段
                    ,order: obj.type //排序方式
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
        //搜索按钮绑定查询条件
        $('#do_search').on('click', function(){
            var searchword = $("#searchword").val();
            table.reload('test',{
                where:{
                    searchword:searchword
                }
                ,page: {
                    curr: 1 //重新从第 1 页开始
                }
            });
        });
    });
    function tdTitle(){
        $('th').each(function(index,element){
            $(element).attr('title',$(element).text());
        });
        $('td').each(function(index,element){
            $(element).attr('title',$(element).text());
        });
    };

</script>
<!--回复扩展-->
<script type="text/html" id="consult">
	{{#  if(d.openstatus == '0'){ }}
	<a class="layui-btn layui-btn-xs" lay-event="pub">审核</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	{{# }else if(d.openstatus == '1'){  }}
	<a class="layui-btn layui-btn-xs" lay-event="notpub">已审核/撤销</a>
	<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del">删除</a>
	{{# }else{  }}
	<a class="layui-btn layui-btn-danger layui-btn-xs">已删除</a>
	{{# } }}

</script>
<!--时间初始化-->
<script>
    layui.use(['form', 'layedit', 'laydate'], function () {
        var form = layui.form
            , layer = layui.layer
            , layedit = layui.layedit
            , laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');
    });
</script>


</body>
</html>