<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>附件列表</title>
  <meta name="renderer" content="webkit">
  <base th:href="${#request.getContextPath()}+'/'">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <link rel="stylesheet" href="layuiadmin/layui/css/layui.css" media="all">
  <link rel="stylesheet" href="layuiadmin/style/admin.css" media="all">
  <link rel="stylesheet" href="layuiadmin/style/template.css" media="all">
  <link rel="stylesheet" type="text/css" href="layuiadmin/layui/css/fzBase_v2109.css" media="all"/>
  <link rel="stylesheet" type="text/css" href="layuiadmin/layui/css/fz_cj_houtaixitong.css" media="all"/>

</head>
<body>

<div class="new_tanchucen">
  <div class="new_panddshezhi">
      <div class="new_pingxing">
        <div class="np_leftim1">图片</div>
        <div class="np_rightt" th:each="image,reviewStat : ${images}">
          <a th:href="@{${image}}" download="images.jpg"><img th:src="@{${image}}"></a>
        </div>
      </div>
      <div class="new_pingxing">
        <div class="np_leftim2">附件</div>
        <div class="np_rightt" th:each="fileName,reviewStat : ${fileNames}">
          <a href="" th:text="${fileName}" th:download="${fileName}" th:href="'doc/showFile?fileUrl='+${fileName}">《梵蒂冈图书馆所藏汉籍目录》</a>
        </div>
      </div>
  </div>
</div>

<script type="text/javascript" th:src="@{layuiadmin/layui/jquery-1.12.4.min_v2019.js}"></script>
<script th:src="@{layuiadmin/layui/layui.js}"></script>






</body>
</html>
