<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.eprobj.mapper.ReviewMapper">
    <insert id="save" parameterType="com.eprobj.entity.Review">
        insert into review
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="docId != null">
                doc_id,
            </if>
            <if test="userId != null">
                user_id,
            </if>
            <if test="status != null">
                status,
            </if>
            <if test="reviewView != null">
                review_view,
            </if>
            <if test="createTime != null">
                create_time,
            </if>
            <if test="updateTime != null">
                update_time,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="docId != null">
                #{docId,jdbcType=BIGINT},
            </if>
            <if test="userId != null">
                #{userId,jdbcType=BIGINT},
            </if>
            <if test="status != null">
                #{status,jdbcType=VARCHAR},
            </if>
            <if test="reviewView != null">
                #{reviewView,jdbcType=VARCHAR},
            </if>
            <if test="createTime != null">
                #{createTime,jdbcType=TIMESTAMP},
            </if>
            <if test="updateTime != null">
                #{updateTime,jdbcType=TIMESTAMP},
            </if>
        </trim>
    </insert>


    <select id="findViewsById" resultType="com.eprobj.entity.Review">
        SELECT
          r.id,
          review_view AS reviewView,
          r.status,
          r.create_time AS createTime,
          user_name AS userName
        FROM
          review r
          LEFT JOIN user u ON u.id = r.user_id
        WHERE doc_id = #{docId} AND review_view  IS NOT NULL
    </select>
</mapper>